body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .navbar {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;   
  }
  
  .navbar-logo {
    margin: 0;
    padding: 0;

  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0;
    padding: 0;
    margin-left: 60px; /* Increased spacing */
  }
  
  .navbar-item:first-child {
    margin-left: 0;
  }
  
  .navbar-link {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s; /* Transition effect for color change */
  }
  
  .navbar-link:hover {
    color: #007bff; /* Change color on hover */
  }


.section {
    text-align: center;
}

.top-img{
  height: 400px;
  width: 100%;

}

img {
    max-width: 100%;
}

h1 {
    font-size: 44px;
    margin: 10px 0;
    color: #008080;
}

h2 {
    font-size: 18px;
    margin: 5px 0;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #008080;
}

.read-more{
  margin-top: 10px;
  margin-left: 870px;
  margin-bottom: 50px;
  padding: 8px 20px;
  background-color: #008080;
  color: white;
  cursor: none;
  font-family: 'Montserrat', sans-serif;
  border: none;
  transition: background-color 0.3s;
  border-radius: 10px;
  text-decoration: none;

}

.read-more:hover {
  background-color: #124a4a;
}







.image-content-section {
    display: flex;
    padding: 40px 0;
    background-color: #008080;
    margin-top: 23px;
  }
  
  .text-content {
    flex: 2;
    padding-left: 170px;
    text-align: center;
  }
  
  .text-content h2 {
    font-size: 28px;
    color: white;
  }
  
  .text-content h3, .text-content h4 {
    font-size: 20px;
    margin-top: 20px;
    color: white;
  }
  
  .text-content p {
    font-size: 16px;
    margin-top: 10px;
    color: white;
  }
  
  .image-column {
    flex: 3;
  }
  
  .image-column img {
    margin-left: 234px;
    height: 600px;
    margin-bottom: -44px;
    margin-top: -40px;
  }
  
  .img3{
    height: 600px;
    width: 771px;
  }
  
  
  
  
  
    .footer {
      text-align: center;
      padding: 0px;
      background-color: white;
      color: black;
    }